.navbar-collapse {
  border: none;
}
.navbar-nav > li > a{
  padding: 0 ;
  line-height: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: #ffffff;
  color: #888;
}
.navItem-label {
  color: rgba(46,62,72,.6) !important;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #e6e6e6;
}
