*{
  margin: 0;
  padding: 0;
}
body{
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  zoom:1;
  font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

html, body, #app, .cocoyo {
  height: 100%;
  overflow: hidden;
}

a:hover {text-decoration:none;}

.container{
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#wrapper{
  height: 100%;
  overflow: hidden;
  /* margin-top: 60px; */
  background: #f2f2f2;
  .wrappeer_box{
    width: calc(100% - 266px);
    position: relative;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 0 36px;
    .wrapper_container{
      margin: 0 auto;
      height: 100%;
      box-sizing: border-box;
      position: relative;
      padding-top: 82px;
      .mu-paper{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        margin: auto;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 3px 14px 3px rgba(40, 120, 255, 0.08), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all .45s cubic-bezier(.23,1,.32,1);
        .header{
          background-color: #f4f7fd;
          padding: 24px 48px;
          position: absolute;
          border-radius: 4px 4px 0 0;
          width: 100%;
          z-index: 1;
          .header-name{
            opacity: 0.8;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 20px;
            font-weight: 600;
            color: #0e1726;
            white-space: nowrap;
            .name-span{
              overflow: hidden;
              max-width: calc(100% - 93px);
              text-overflow: ellipsis;
              display: inline-block;
            }
          }
          .header-type-switch{
            white-space: nowrap;
            -webkit-transform-origin: left;
            transform-origin: left;
          }
          .project-add-but{
            right: 48px;
            bottom: -22px;
            position: absolute;
          }
        }
        .body{
          padding: 25px 50px 50px;
          margin-top: 80px;
          overflow-y: auto;
          .avatar{
            width:50px;
            height:50px;
            border-radius: 50%;
          }
          .table-pagination{
            margin-top:20px;
            text-align: center;
          }
        }
      }
    }
  }
  .switch_top{
    height: 160px;
    background: #F4F7FD;
    width: 100%;
    text-align: center;
    .switch_return{
      text-align: left;
      padding: 20px 50px;
      font-size: 16px;
      color: #6E747D;
      line-height: 16px;
      display: -webkit-box;
      display: flex;
      height: 20px;
      .back-but {
        color: rgba(0, 0, 0, 0.87);
        z-index: 4;
        span.page-name{
          font-size: 16px;
          color: rgba(0, 0, 0, 0.87);
          display: inline-block;
          vertical-align: top;
          line-height: 48px;
          cursor: default;
          margin-right: 16px;
        }
      }
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      height: 40px;
      color: #0E1726;
      width: 800px;
      margin: 0 auto;
      margin-top: 31px;
      .team_name_show {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        margin-top: 29px;
      }
    }
  }
  .list_box{
    margin: 0 auto;
    padding-top: 40px;
    height: 100%;
    .list_box_big {
      width: 100%;
      padding-bottom: 60px;
    }
    .box_body{
      overflow: auto;
      padding-bottom: 80px;
      position: relative;
      width: 800px;
      margin: 0 auto;
      font-size: 14px;
    }
  }
}
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}
.mCustomScrollBox {
  position: relative;
  height: 100%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}
.mCSB_container {
  width: auto;
  height: auto;
}
.mu-circle-ripple, .mu-ripple-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.mu-float-button-wrapper {
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.mu-float-button-wrapper:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.mu-float-button {
  position: relative;
  display: inline-block;
  overflow: visible;
  line-height: 1;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #7e57c2;
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-flex: 0;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,.156863), 0 3px 10px rgba(0,0,0,.227451);
  background-color: #2878FF;
  color: #ffffff;
}
.mu-float-button:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,.188235), 0 6px 10px rgba(0,0,0,.227451);
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}