.el-button.is-round {
  padding: 12px 12px;
}

.el-upload__input {
  display: none !important;
}
.el-message-box{
  width:auto;
}
.el-menu-item.is-active{
  color: #fa3e5e;
}
.side-menu.is-active:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: #fa3e5e;
}

::selection{background:#fa3e5e; color:white;}
::-moz-selection{background:#fa3e5e; color:white;}
::-webkit-selection{background:#fa3e5e; color:white;}